
<div class="cb-info">
        <ul>
            {volist name="result" id="res"}
            <li>
                <div class="cni-item" style="width:490px;text-align: left;">
                    <div class="cbn-item-info">
                        <a href="#">{$res.name}</a>
                        <span>(+3)</span>
                        <h5>{$res.brief}</h5>
                    </div>
                </div>
                <div class="cni-item">

                    <h4>{:date('Y-m-d H:i:s',$res['update_time'])}</h4>
                </div>
                <div class="cni-item">
                    <h4>{$res.ename}</h4>
                </div>
                <div class="cni-item" style="text-align: center;">
                    <h4>仅投资人可</h4>
                </div>
            </li>

            {/volist}

        </ul>
    </div>

    <div class="page">

        <ul class="pager pager-loose">
            {$result->render()}

        </ul>

    </div>
