<!DOCTYPE html>
<html>
<head lang="en">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="keywords" content="华运、华运资本、投资、项目管理、管理系统、投资公司"/>
    <meta name="description" content=""/>
    <link rel="shortcut icon" href="__PUBLIC__/img/logo.ico">
    <title>华运资本项目管理系统</title>
    <link rel="stylesheet" href="__PUBLIC__/css/zui.css">
    <link type="text/css" rel="stylesheet" href="__PUBLIC__/css/style.css"/>
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/jquery-ui.css"/>
    <link rel="stylesheet" href="__PUBLIC__/css/main.css">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/webuploader.css"/>
    <link rel="stylesheet" href="__PUBLIC__/css/iconfont.css">
    <link rel="stylesheet" href="__PUBLIC__/css/mymine.css">

    <!--[if lt IE 9]>
    <script src="//cdn.bootcss.com/html5 shiv/3.7.2/html5shiv.min.js"></script>
    <script src="//cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!--[if IE 6]>
    <script src="js/DD_belatedPNG_0.0.8a-min.js"></script>
    <script>
        /* EXAMPLE */
        DD_belatedPNG.fix('img,.mail,.header-top-left,.header-top-right ul li a:hover,.aaa,.ztxw-right');

        /* string argument can be any CSS selector */
        /* .png_bg example is unnecessary */
        /* change it to what suits you! */
    </script>
    <![endif]-->

</head>
<body>
<header>
    <div class="bj"></div>
    <div class="row head_top">
        <div class="col-xs-11" style="width: 100%;">
            <div class="head_top_cont">
                <img src="__PUBLIC__/img/index_bj.png" class="img-responsive">
                <div class="logo">
                    <div class="logo_cont">
                        <img src="__PUBLIC__/img/logo.png">
                        <h2>华运资本项目管理系统</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="head_bottom">
        <div class="head_bottom_cont">
            <div class="exit">
                <img src="__PUBLIC__/img/exit.png">
                <h4>退出</h4>
            </div>
            <div class="login_user">
                <img src="__PUBLIC__/img/user_icon.png">
                <h4>你好，{$userInfo.user_name}</h4>
            </div>
        </div>
    </div>
</header>
<div class="container-fluid">
    <div class="index_container">
        <div class="nav">
            <ul>
                {if condition="$menu_res.0 eq 1"}
                <li>
                    <div class="nav_item">
                        <img src="__PUBLIC__/img/jian.png">
                        <h4>项目管理</h4>
                    </div>
                    <ul>


                        <input type="hidden" class="folder_id" value="{$list.id}">
                        {volist name="projectStage" id="stage"}

                        <li class="nav_item_li">
                            <a href="{:url('index',['stage_id'=>$stage['id'],'stage_judge'=>1])}">
                                <div class="li_item">

                                    <img src="__PUBLIC__/img/sj1.png">

                                    <h5>{$stage.name}</h5>
                                </div>
                            </a>
                        </li>
                        {/volist}

                    </ul>
                </li>
                {/if}
                {if condition="$menu_res.5 eq 1"}
                <li>
                    <div class="nav_item">
                        <img src="__PUBLIC__/img/jian.png">
                        <h4>日志</h4>
                    </div>
                    <ul>
                        {volist name="logtype" id="logtype"}
                        <li class="nav_item_li">
                            <a href="{:url('Log/index',['type_id'=>$logtype['id']])}">
                                <div class="li_item">
                                    <img src="__PUBLIC__/img/sj1.png">
                                    <h5>{$logtype.log_type}</h5>
                                </div>


                            </a>
                        </li>
                        {/volist}

                    </ul>
                </li>
                {/if}
                {if condition="$menu_res.4 eq 1"}
                <li>
                    <a href="{:url('Newfile/share')}">
                        <div class="nav_item2">
                            <img src="__PUBLIC__/img/jia.png">
                            <h4>共享</h4>
                        </div>
                    </a>
                </li>
                {/if}
                {if condition="$menu_res.2 eq 1"}
                <li>
                    <a href="{:url('Ucenter/index')}">
                        <div class="nav_item2">
                            <img src="__PUBLIC__/img/jia.png">
                            <h4>成员管理</h4>
                        </div>
                    </a>
                </li>
                {/if}
                {if condition="$menu_res.1 eq 1"}
                <li>
                    <a href="{:url('Department/index')}">
                        <div class="nav_item2">
                            <img src="__PUBLIC__/img/jia.png">
                            <h4>设置</h4>
                        </div>
                    </a>
                </li>
                {/if}
                {if condition="$menu_res.3 eq 1"}
                <li>
                    <a href="{:url('Account/index')}">
                        <div class="nav_item2">
                            <img src="__PUBLIC__/img/jia.png">
                            <h4>账号设置</h4>
                        </div>
                    </a>
                </li>
                {/if}
            </ul>
        </div>
        <div class="cont_right">
            <div class="add_project_cont">
                <div class="apc_top">
                    <a href="{:url('share')}">
                        <div class="apc_top_cont">
                            <img src="__PUBLIC__/img/fh.png">
                            <h5>返回</h5>
                        </div>
                    </a>
                </div>
                <div class="apc_cont">
                    <div class="pit_nav">
                        <!--<ul>-->

                        <!--<li class="active">-->
                        <!--文件夹-->
                        <!--</li>-->
                        <!--</ul>-->
                    </div>
                    <div class="pit_bottom">


                        <div class=" folder1">
                            <div class="folder_cont">
                                <div class="folder-top">
                                    <!--<div class="fh1">-->
                                    <!--<img src="__PUBLIC__/img/fh2.png">-->
                                    <!--返回上一级-->
                                    <!--</div>-->
                                    <div class="folder-delete">删除</div>
                                    <div class="folder-ren">重命名</div>
                                    <div class="folder-add">新建文件夹</div>
                                    <div class="folder-upload">
                                        <div id="fileList" class="uploader-list"></div>
                                        <div id="filePicker" style="width: 95px;height:31px">上传文件</div>
                                    </div>
                                </div>
                                <div class="folder-bottom">
                                    <table>
                                        <thead>
                                        <tr>
                                            <th class="td">名称</th>
                                            <th>修改时间</th>
                                            <th>发布人</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {volist name="result" id="res"}
                                        <tr>
                                            <td class="td">
                                                <div class="td_left">
                                                    <div data-div="1" class="bb" data-id="{$res.id}"></div>


                                                    {if condition ="$res.type_number eq 1"}
                                                    <img src="__PUBLIC__/img/tp.png">
                                                    {elseif condition="$res.type_number eq 2"}
                                                    <img src="__PUBLIC__/img/w.png">
                                                    {elseif condition="$res.type_number eq 3"}
                                                    <img src="__PUBLIC__/img/ptf.png">
                                                    {elseif condition="$res.type_number eq 4"}
                                                    <img src="__PUBLIC__/img/p.png">
                                                    {elseif condition="$res.type_number eq 5"}
                                                    <img src="__PUBLIC__/img/t.png">
                                                    {elseif condition="$res.type_number eq 6"}

                                                    <img src="__PUBLIC__/img/x.png">
                                                    {elseif condition="$res.type_number eq 7"}

                                                    <img src="__PUBLIC__/img/ys.png">
                                                    {else/}<img src="__PUBLIC__/img/wjj.png">{/if}


                                                    {if condition="$res.type_number eq 0"}
                                                    <a class="folder_span " contenteditable="false" id="isfolder"
                                                       href="{:url('editFolder',array('id'=>$res['id']))}">{$res.name}</a>
                                                    {else/}
                                                    <a class="folder_span" contenteditable="false"
                                                       href="{$res.save_path}">{$res.name}</a>{/if}

                                                </div>
                                                <div class="progress">
                                                    <span class="text">0%</span>
                                                    <span class="percentage"></span>
                                                </div>
                                                <div class="info"></div>
                                            </td>
                                            <td>{:date('Y/m/d H:i',$res.create_time)}</td>
                                            <td>{$res.user_name}</td>
                                        </tr>
                                        {/volist}

                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="page">
                                <div class="page_right">

                                    {$result->render()}

                                </div>
                            </div>
                        </div>
                        <div class="add_event">
                            <div class="fh">
                                <img src="__PUBLIC__/img/fh2.png">
                                返回上一级
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="add-user-info" style="top:400px;width: 320px;">
                <div class="aui-info" style="width: 320px;">
                    <form>
                        <input type="hidden" class="rename_file" value="">
                        <input type="text" id="user-name" placeholder="文件夹名称" value="" style="width: 280px;"/>
                        <button type="button" class="aui-button" style="width: 260px;">确定</button>
                        <div class="login-cerror">必填项不可为空</div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" src="__PUBLIC__/js/jquery-2.1.1.js"></script>

<script type="text/javascript" src="__PUBLIC__/js/jquery-ui-1.10.4.custom.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/js/jquery.ui.datepicker-zh-CN.js"></script>
<script type="text/javascript" src="__PUBLIC__/js/jquery-ui-timepicker-addon.js"></script>
<script type="text/javascript" src="__PUBLIC__/js/jquery-ui-timepicker-zh-CN.js"></script>
<script src="__PUBLIC__/js/webuploader.js"></script>
<!--<script type="text/javascript" src="js/js.js" ></script>-->

<!-- 统计代码 start -->
<script type="text/javascript">
    $(".ui-icon-circle-triangle-e").text('>');
    $("input[name='act_start_time'],input[name='act_stop_time']").datetimepicker();
    var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
    document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3F96790c81142777e7724407f030936c10' type='text/javascript'%3E%3C/script%3E"));
</script>
<!-- 统计代码 end -->

<script type="text/javascript">

    $(function () {
        var public = "__PUBLIC__";
        /************项目管理、日志二级菜单点击事件***********/
        $(".nav_item").click(function () {
            var ul = $(this).siblings('ul');
            var display = $(this).siblings('ul').css('display');
            if (display == "block") {
                ul.hide();
                $(this).find('img').attr('src', public + '/img/jia.png');
            } else {
                ul.show();
                $(this).find('img').attr('src', public + '/img/jian.png');
            }
        });
        /**************共享 成员管理、设置鼠标事件**************/
        $(".nav ul li .nav_item2").mouseover(function () {
            $(".nav ul li .nav_item2").removeClass('active');
            $(this).addClass('active');
            $(".nav ul li .nav_item2").removeClass('action');
            $(this).prev().addClass('action');
        });
        $(".nav_item2").mouseout(function () {
            $(".nav_item2").removeClass('active');
            $(".nav_item2").removeClass('action');
        });
        /**************项目管理、日志下li的鼠标事件**************/
        $(".nav_item_li").mouseover(function () {
            $(".nav_item_li").siblings().removeClass('active');
            $(this).addClass('active');
            $(".nav_item_li").siblings().removeClass('action');
            $(this).prev().addClass('action');
            $(".nav_item_li").find('img').attr('src', public + '/img/sj1.png');
            $(this).find('img').attr('src', public + '/img/sj2.png');
        });
        $(".nav_item_li").mouseout(function () {
            $(".nav_item_li").siblings().removeClass('active');
            $(".nav_item_li").siblings().removeClass('action');
            $(".nav_item_li").find('img').attr('src', public + '/img/sj1.png');
        });
        /***************项目概况等三个切换***************/
        $('.pit_nav li').click(function () {
            $(this).addClass("active").siblings().removeClass();
            $(".pit_bottom>div").hide().eq($('.pit_nav li').index(this)).show();
        });
        $(".apc_top_cont").click(function () {
            $(".add_project_cont").hide();
            $(".index_right").show();
            $(".add_event").hide();
            $(".project_cont").hide();
            $(".touz").hide();
            $(".folder").hide();
            $(".pit_nav li").removeClass('active');
        });
        $(".add_project").click(function () {
            $(".index_right").hide();
            $(".apc_cont").show();
            $(".add_project_cont").show();
            $(".project_cont").show();
            $(".pit_nav>li").addClass('active');
        });
        /*****************项目库选择事件****************/
        $(".pc_item li span").click(function () {
            $(".pc_item li span").removeClass('active');
            $(this).addClass('active');
        });
        /*********投资事件 字符控制*******************/
        $(".touz_cont_table tr td h5").each(function () {
            var span = $(this).text();
            if (span.length > 25) {
                var span = span.substr(0, 25);
                $(this).text(span + '…');
            }
        });
        $(".tct_check>div").click(function () {

            var span = $(this).attr('data-div');
            if (span == 1) {
                $(this).addClass('active');
                $(this).attr('data-div', "0");
            } else {
                $(this).removeClass('active');
                $(this).attr('data-div', "1");
            }
        });
        /*************添加事件**************/
        $(".tct_add").click(function () {
            $('.event_id').val("");
            var user_name = $('.user_name').val();

            $('.event_ucenter_name').val(user_name).attr("readonly", "readonly");


            $('.event_content').val("");
            $('.event_name').val("");
            $('.event_ucenter_id').val("");


            $('.event_time').val("");

            $('.event_aim').val("");
            $('.event_log').val("");
            $('.conclusion').val("");
            $('.opintion').val("");
            $('.event_participants').val("");
            $('.event_object').val("");


            $(".add_event").show();
            $(".project_cont").hide();
            $(".touz").hide();
            $(".folder").hide();
        });
        $(".touz_cont_table tbody .tct_title").click(function () {

            var event_id = $(this).attr("data-id");
            var event_content = $(this).attr("data-content");
            var event_name = $(this).attr("data-name");
            var event_ucenter_id = $(this).attr("data-ucenter_id");
            var event_ucenter_name = $(this).attr("data-ucenter_name");

            var event_time = $(this).attr("data-event_time");
            var event_aim = $(this).attr("data-aim");
            var event_log = $(this).attr("data-log");
            var event_conclusion = $(this).attr("data-conclusion");
            var event_opintion = $(this).attr("data-opintion");
            var event_participants = $(this).attr("data-participants");
            var event_object = $(this).attr("data-event_object");


            $('.event_id').val(event_id);
            $('.event_ucenter_name').val(event_ucenter_name).attr("readonly", "readonly");

            $('.event_content').val(event_content);
            $('.event_name').val(event_name);
            $('.event_ucenter_id').val(event_ucenter_id);


            $('.event_time').val(event_time);

            $('.event_aim').val(event_aim);
            $('.event_log').val(event_log);
            $('.conclusion').val(event_conclusion);
            $('.opintion').val(event_opintion);
            $('.event_participants').val(event_participants);
            $('.event_object').val(event_object);

            $(".add_event").show();
            $(".project_cont").hide();
            $(".touz").hide();
            $(".folder").hide();
        });
        $(".fh").click(function () {
            $(".add_event").hide();
            $(".project_cont").hide();
            $(".touz").show();
            $(".folder").hide();
        });
        /*********文件夹字符控制*******************/
        $(".td_left span").each(function () {
            var span = $(this).text();
            if (span.length > 13) {
                var span = span.substr(0, 13);
                $(this).text(span + '…');
            }
        });
        $(".td_left>div").click(function () {
            var span = $(this).attr('data-div');
            if (span == 1) {
                $(this).addClass('active');
                $(this).attr('data-div', "0");
            } else {
                $(this).removeClass('active');
                $(this).attr('data-div', "1");
            }
        });
        var project_id111 = $('.project_id').val();
        var folder_id = $('.folder_id').val();
        var url_f = "{:url('Newfile/upload1')}";
        url_f = url_f.substr(0, url_f.length - 5);
        url_f = url_f + "/id/" + project_id111 + "/folder_id/" + folder_id;
        console.log(project_id111);
        console.log(folder_id);
        var uploader = WebUploader.create({

                    // 选完文件后，是否自动上传。
                    auto: true,

                    // swf文件路径
                    swf: '__PUBLIC__/js/Uploader.swf',

                    // 文件接收服务端。
                    server: url_f,
                    // 选择文件的按钮。可选。
                    // 内部根据当前运行是创建，可能是input元素，也可能是flash.
                    pick: '#filePicker',
                    resize: false,
                })
                ;
        uploader.on('uploadProgress', function (file, percentage) {
            var $li = $('#' + file.id),
                    $percent = $li.find('.progress .progress-bar');
            console.log($li)
            // 避免重复创建
            if (!$percent.length) {
                $percent = $('<div class="progress progress-striped active">' +
                        '<div class="progress-bar" role="progressbar" style="width: 0%">' +
                        '</div>' +
                        '</div>').appendTo($li).find('.progress-bar');
            }

            $li.find('p.state').text('上传中');

            $percent.css('width', percentage * 100 + '%');
        });
        uploader.on('uploadSuccess', function (file) {
            $('#' + file.id).find('p.state').text('已上传');
            console.log("ccc");
        });
        uploader.on('uploadError', function (file) {
            $('#' + file.id).find('p.state').text('上传出错');
            console.log('bbb');
        });

        uploader.on('uploadComplete', function (file) {
            $('#' + file.id).find('.progress').fadeOut();
            console.log('qqq');
        });


        //新建文件夹
        $('.folder-add').click(function () {

            $('.add-user-info').show();
            $('.bj').show();


        })

//重命名
        $('.folder-ren').click(function () {
            var obj = $('.bb.active')


            var check_val2 = [];
            obj.each(function () {
                        check_val2.push($(this).data("id"));

                    }
            )
            console.log(check_val2)
            if (check_val2.length != 1) {

                alert("只能选择一个");
            } else {

                var rename_file_id = check_val2['0'];
                console.log(rename_file_id);
                $('.rename_file').val(rename_file_id);
                $('.add-user-info').show();
                $('.bj').show();
            }


        })
        $("#user-name").focus(function () {
            $(".login-cerror").hide();
        });
        $(".bj").click(function () {
            $(".add-user-info").hide();
            $(this).hide()
        });

        //文件命名
        $(".aui-button").click(function () {
            var file_id = $('.rename_file').val();
            var userName = $("#user-name").val();
            //判断工号、姓名、手机号等是否为空
            if (userName == '' || userName == null || userName == undefined) {
                $(".login-cerror").show();
                $(".login-cerror").css("width", "210px")
                        .css("margin-left", "0")
                        .css("text-align", "center");
            } else {
                //新建文件夹
                if (file_id == null || file_id == "") {


                    var project_id = $('.project_id').val();
                    var folder_id = $('.folder_id').val();

                    console.log(userName);
                    console.log(folder_id);
                    $.ajax(
                            {
                                url: "{:url('Newfile/addFolder1')}",
                                data: {title: userName, folder_id: folder_id},
                                dataType: 'json',
                                method: 'post',
                                success: function (data) {
                                    console.log(data.folder_id)
                                    if (data == 1) {

                                        window.location.reload();
                                    } else {

                                        alert("shibai ");
                                    }

                                }
                            }
                    )


                } else {
                    $.ajax(
                            {
                                url: "{:url('Newfile/reName1')}",
                                data: {id: file_id, title: userName},
                                dataType: 'json',
                                method: 'post',
                                success: function (data) {
                                    $(".add-user-info").hide();
                                    window.location.reload();

                                }
                            }
                    )

                }
            }
        });

        //删除文件
        $(".folder-delete").click(function () {

            var obj3 = $('.bb.active')


            var check_val3 = [];
            obj3.each(function () {
                        check_val3.push($(this).data("id"));

                    }
            )
            if (check_val3.length == 0) {
                alert("未选定事件");

            } else {
                $.ajax(
                        {
                            url: "{:url('Newfile/deleteFolder1')}",
                            data: {id: check_val3},
                            dataType: 'json',
                            method: 'post',
                            success: function (data) {
                                if (data > 0) {
                                    window.location.reload();

                                } else {
                                    alert("fail")
                                }

                            }
                        }
                )
            }

        })

    });
</script>
</body>
</html>